.App {
  text-align: center;
  background-color: aquamarine;
  font-size: calc(2px + 2vmin);
}

h3 {
  margin: 0px;
}

h1 {
  display: inline-block;
}

.App-header {
  background-color: #282c34;
  font-size: calc(1px + 1vmin);
  color: white;
  padding: 15px;
  height: 80px;
}

.profilePic {
  float: right;
  margin-right: 30%;
}

.robotHead {
  float: left;
  margin-left: 30%;
}

.loginForm {
  margin: 10px;
  width: calc(200px + 1vmin);
  border: 30px gray;
  border-radius: 30px;
  background-color: white;
  padding: 12px 20px;
}

.loginButton {
  width: calc(100px + 1vmin);
  padding: 12px 20px;
  border-radius: 30px;
  background-color: mintcream;
}

.profileButton {
  width: calc(180px + 1vmin);
  padding: 12px 20px;
  border-radius: 30px;
  background-color: mintcream;
  margin: 10px;
}

.EnterText {
  padding: 20px;
  border-radius: 50px;
}

.aBox {
  padding: calc(10px + 1vmin);
  background-color: #61dafb;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: calc(20px + 1vmin);
  border-radius: 30px;
}

a {
  color: black;
  font-weight: 500;
}

fieldset {
  border: none;
}

.transBtn {
  background-color: white;
  height: 40px;
  width: 70px;
  margin-left: 10px;
  border-radius: 10px;
 
}

.helloImg {
  padding-top: 60px;
  padding-bottom: 60px;
}

ul {
  list-style: none;
}

button:hover {background-color: aliceblue}

button:active {
  background-color: lightblue;
  box-shadow: 0 1px black;
  transform: translateY(3px);
}