.App {
  text-align: center;
  background-color: aquamarine;
  font-size: calc(2px + 2vmin);

  height:calc(1000px + 20vmin);
}



h3 {
  margin: 10px;
}

h2{
  margin: 10px;
}

h1 {
  display: inline-block;
  font-size: 32px;
}

.App-header {
  background-color: #282c34;
  font-size: calc(1px + 1vmin);
  color: white;
  padding: 15px;
  height: 90px;
}

.profilePic {
  float: right;
  margin-right: 25%;
}




.robotHead {
  float: left;
  margin-left: 25%;
}

.loginForm {
  margin: 10px;
  width: calc(200px + 1vmin);

  border-radius: 30px;
  background-color: white;
  padding: 12px 20px;
}

.loginButton {
  width: calc(100px + 1vmin);
  padding: 12px 20px;
  border-radius: 30px;
  background-color: mintcream;
}

.profileButton {
  width: calc(180px + 1vmin);
  padding: 12px 20px;
  border-radius: 30px;
  background-color: mintcream;
  margin: 10px;
}

.EnterText {
  padding: 12px;
  width: 40%;
  border-radius: 50px;
}

.aBox {
  padding: calc(10px + 1vmin);
  background-color: #61dafb;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: calc(10px + 1vmin);
  border-radius: 30px;
}

a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

a:hover{
  color: lightgray;
}

a:active{
  color: gray;
}

p{
  margin: 0px;
}

fieldset {
  border: none;
}

.transBtn {
  background-color: mintcream;
  height: 40px;
  width: 70px;
  margin-left: 10px;
  border-radius: 10px;
 
}

.helloImg {
  padding-top: 60px;
  padding-bottom: 60px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 10%;
  margin-right: 10%;
  

}

li{
  margin: 3px;
  padding: 8px;
  background-color: lightskyblue;
  border-radius: 20px;
  
}

li:nth-child(even){background-color: aliceblue}

button:hover {background-color: aliceblue}

button:active {
  background-color: lightblue;
  box-shadow: 0 1px black;
  transform: translateY(3px);
}