.App {
  text-align: center;
  background-color: aquamarine;
  font-size: calc(3px + 2vmin);
}

h3{
  margin: 0px;
}

h1{
  display: inline;
}


 .App-header {
  background-color: #282c34;
  min-height: 10vh;
 /* display: flex; */
 
 text-align: center;
  font-size: calc(1px + 2vmin);
  color: white;
} 

.profilePic {
 display: inline;
 text-align: right;
}

.robotHead{
  text-align: left;

  display: inline;
}

.loginForm {
  margin: 10px;
  width: calc(200px + 1vmin);
  border: 30px gray;
  border-radius: 30px;
  background-color: white;
  padding: 12px 20px;
}

.loginButton {
  width: calc(100px + 1vmin);
  padding: 12px 20px;
  border-radius: 30px;
  background-color: mintcream;
}

.profileButton {
  width: calc(180px + 1vmin);
  padding: 12px 20px;
  border-radius: 30px;
  background-color: mintcream;
  margin: 10px;
}

.EnterText {
  padding: 20px;
  border-radius: 50px;
}

.aBox {
  padding: calc(10px + 1vmin);
  background-color: #61dafb;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: calc(20px + 1vmin);
  border-radius: 30px;
}

a{
  /* color: white; */
  color: black;
  font-weight: 500;
}

fieldset{
  border: none;
}

.transBtn{
  background-color: aliceblue;
  height: 40px;
  border-radius: 30px;
}


.helloImg{
  padding-top: 60px;
  padding-bottom: 60px;
}


ul{
  list-style: none;
}